.nav {
    width: 100%;
    
  }

li{
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
}  
  .nav a {
    background-color: rgb(255, 255, 255);
    color: rgb(172, 169, 169);
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .nav  a:hover {
      color: rgb(0, 0, 0);
  }
  
  .nav a.active {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
  }